:root {
  --clr-white: #fff;
  --clr-sun: #ffd029;
  --clr-mercury: #888;
  --clr-venus: #e7cdcd;
  --clr-earth: #428ed4;
  --clr-mars: #ef5f5f;
  --clr-jupiter: #e29468;
  --clr-saturn: #c7aa72;
  --clr-uranus: #c9d4f1;
  --clr-neptune: #7a91a7;
  --clr-background: linear-gradient(90deg, #0c164d 0%, #190b22 100%);

  --ff-lora: "Lora", serif;
  --ff-secular-one: "Secular One", sans-serif;
  --ff-roboto-condensed: "Roboto Condensed", sans-serif;

  --fw-300: 300;
  --fw-400: 400;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin-inline: auto;
  background: var(--clr-background);
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  color: var(--clr-white);
  overflow: hidden;
}

#header-container {
  padding: 0 20px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 50%;
  margin: 30px auto;
}

#search-input,
#search-btn {
  font-family: var(--ff-secular-one);
  padding: 5px 10px;
  border-radius: 5px;
  letter-spacing: 2px;
  border: none;
}

#search-input {
  width: 50%;
}

#search-input:focus {
  outline-color: #0c164d;
}

#search-btn:hover {
  color: var(--clr-mars);
  cursor: pointer;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  padding: 0 20px;
  row-gap: 16px;
  margin-bottom: 140px;
}

.title h1 {
  font-family: var(--ff-secular-one);
  font-size: 3.75rem;
  letter-spacing: 0.5rem;
  text-shadow: 1px 1px 8px var(--clr-white);
}

.title p {
  font-family: var(--ff-lora);
  font-size: 1.5rem;
  letter-spacing: 1rem;
  color: var(--clr-sun);
  font-weight: var(--fw-300);
  text-shadow: 3px 3px 8px var(--clr-sun);
}

#planets-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
