:root {
  --clr-white: #fff;
  --clr-sun: #ffd029;
  --clr-mercury: #888;
  --clr-venus: #e7cdcd;
  --clr-earth: #428ed4;
  --clr-mars: #ef5f5f;
  --clr-jupiter: #e29468;
  --clr-saturn: #c7aa72;
  --clr-uranus: #c9d4f1;
  --clr-neptune: #7a91a7;
  --clr-background: linear-gradient(90deg, #0c164d 0%, #190b22 100%);

  --ff-lora: "Lora", serif;
  --ff-secular-one: "Secular One", sans-serif;
  --ff-roboto-condensed: "Roboto Condensed", sans-serif;

  --fw-300: 300;
  --fw-400: 400;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin-inline: auto;
  background: var(--clr-background);
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  color: var(--clr-white);
  overflow: hidden;
}

#header-container {
  padding: 0 20px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 50%;
  margin: 30px auto;
}

#search-input,
#search-btn {
  font-family: var(--ff-secular-one);
  padding: 5px 10px;
  border-radius: 5px;
  letter-spacing: 2px;
  border: none;
}

#search-input {
  width: 50%;
}

#search-input:focus {
  outline-color: #0c164d;
}

#search-btn:hover {
  color: var(--clr-mercury);
  cursor: pointer;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  padding: 0 20px;
  row-gap: 16px;
  margin-bottom: 140px;
}

.title h1 {
  font-family: var(--ff-secular-one);
  font-size: 3.75rem;
  letter-spacing: 0.5rem;
  text-shadow: 1px 1px 8px var(--clr-white);
}

.title p {
  font-family: var(--ff-lora);
  font-size: 1.5rem;
  letter-spacing: 1rem;
  color: var(--clr-sun);
  font-weight: var(--fw-300);
  text-shadow: 3px 3px 8px var(--clr-sun);
}

#planets-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

/* Display Info */
#info-container {
  width: 640px;
  height: 680px;
}

.header-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  font-size: 3.75rem;
  font-family: var(--ff-secular-one);
  letter-spacing: 0.5rem;
  line-height: 60px;
  margin: 20px 0;
}

#close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#close-btn:hover {
  cursor: pointer;
  color: #190b22;
  background-color: var(--clr-white);
}

i {
  font-size: 1.5rem;
}

.latin-name {
  font-family: var(--ff-lora);
  font-size: 24px;
  line-height: 24px;
  font-weight: var(--fw-300);
  letter-spacing: 0.5rem;
  color: var(--clr-sun);
  margin-bottom: 25px;
}

.description {
  font-family: var(--ff-roboto-condensed);
  font-size: 1.125rem;
  font-weight: var(--fw-300);
  line-height: 24px;
  color: var(--clr-white);
  margin-bottom: 25px;
}

.line {
  border: 1px solid #ffffff33;
  margin-bottom: 30px;
}

.info-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-1,
.info-2 {
  font-family: var(--ff-secular-one);
  font-size: 1.125rem;
  line-height: 18px;
  letter-spacing: 0.05rem;
  margin-right: auto;
}

.gap-tb {
  margin-top: 10px;
  margin-bottom: 30px;
}

.info-font {
  font-family: var(--ff-roboto-condensed);
  font-weight: var(--fw-300);
}
